/* Variables */
:root {
    --primaryColor:   black; 
    --mainWhite: #fff;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.3rem;
  }

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:  sans-serif;
    color: #222;
    background: #f1f5f8;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: var(--slantedFont);
    margin-bottom: 1.25rem;
    letter-spacing:  0.2rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  a {
    text-decoration: none;
    color:#222;
  }
  img {
    width: 100%;
    display: block;
  }
  
  /* Buttons */
  .btn,
  .btn-white,
  .btn-primary {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 0.45rem 0.8rem;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--mainBorderRadius);
    display: inline-block;
  }
  .btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .btn-white {
    background: transparent;
    color: var(--mainWhite);
    border-color: var(--mainWhite);
  }
  .btn-white:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
  }
  .btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border-color: transparent;
  }
  .btn-primary:hover {
    background: var(--primaryColor);
    color: var(--primaryColor);
  }
  .btn-block {
    width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: var(--lightShadow);
    text-align: center;
  }
  .btn-details {
    padding: 0.25rem 0.4rem;
  }
  .btn-details:hover {
    background: var(--primaryColor);
    border-color: var(--primaryColor);
  }
  /* Navbar */
  .navbar {
    background: var(--mainWhite);
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }
  .nav-center { 
    margin: 0 auto;
  } 
  .logo {
    width: 12rem;
  }
  
  /* Error */
  .error-page {
    display: flex;
    justify-content: center;
  }
  .error-container {
    text-align: center;
    text-transform: capitalize;
  }
  /* books List */
  
  .section {
    padding: 5rem 0;
  }
  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing:  0.2rem;
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  .books-center {
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    
  }
  @media screen and (min-width: 576px) {
    .books-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
  /* book */
  
  .book {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);
  }
  
  .book img {
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);
  }
  
  .book-footer {
    padding: 1.5rem;
  }
  .book-footer h3,
  .book-footer h4,
  .book-footer p {
    margin-bottom: 0.3rem;
  }
  .book-footer h3 {
    font-size: 2rem;
  }
  .book-footer p {
    color: #afafaf;
    margin-bottom: 0.5rem;
  }
  
  /* input */
  .search {
    margin-top: 1rem;
    padding-bottom: 0;
  }
  
  .search-form {
    width: 85vw;
    margin: 0 auto;
    max-width: 40rem;;
    background: var(--mainWhite);
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--lightShadow);
  }
  
  .form-control label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primaryColor);
  }
  .form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: #f1f5f8;
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  /* book */
  .book-section {
    text-align: center;
  }
  .book-div {
    width: 85vw;
    max-width: 1170px;
    margin: 0 auto;
    text-align: left;
  }
  .book-div img {
    border-radius: var(--mainBorderRadius);
  }
  .book-div p {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.8;
  }
  .book-div span {
    margin-right: 0.5rem;
  }
  
  .book-data {
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBorderRadius);
    color: var(--primaryColor);
  }
  .book-info {
    padding-top: 2rem;
  }
  @media screen and (min-width: 992px) {
    .book-div {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 3rem;
      align-items: center;
    }
    .book-info {
      padding-top: 0;
    }
  }